.mainLogin {
    color: #E5E5E5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.LoginInfo {
    margin-top: 10vw;
    margin-left: 8vw;
}

.Login {
    margin-top: 5vw;
    margin-right: 8vw;
}

.Baleia {
    position: absolute;
    top: 240px;
    left: 380px;
    height: 34vw;
}

.linha-vertical2 {
    height: 500px;
    border-right: 3px solid #1E40AF;
    margin-top: 100px;
  }

  @media (max-width: 1340px) {
  
    .Baleia{
      display: none;
    
     }
  
     .mainLogin .linha-vertical2{
      display: none;
    }
  
  }
  
  
  
  
  @media(max-width: 1024px){
  
  .Baleia{
  
      display: none;
  }
  
  .mainLogin .linha-vertical2{
    display: none;
  }
  
  
  }
  
  @media (max-width: 720px){
  
    .Baleia{
  
      display: none;
  }
  
  .mainLogin .linha-vertical2{
    display: none;
  }
  
  
      
  }
  
  
  @media(max-width: 584px){
    .mainLogin{
     max-width: 100%;
     overflow-y: scroll;
   } 
  
   .mainLogin .linha-vertical2{
    display: none;
  }
   
  .mainCadastro::-webkit-scrollbar{
    width: 5px;
  }
  
  
  
   }
  
  @media(max-width: 430px){
    .LoginInfo{
      display: none;
    
    }
    
  
  }
  
     @media(max-width: 320px){
      
      .container{
        max-width: 100%;
        flex-direction: column;
      }
      .Login{
        max-width:80%;
        margin-right: 0px;
      }
      .LoginInfo{
        display: none;
      }
  
      .LoginInfo .Baleia{
        display: none;
      
       }
  
      .mainLogin .linha-vertical2{
        display: none;
      }
     }