.botao {
    background-color: #4D47C3;
    width: 302px;
    height: 48px;
    border: 0px;
    color: #FFFFFF;
    box-shadow: 0px 4px 61px rgba(77, 71, 195, 0.4);
    border-radius: 9px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 420;
    font-size: 16px;
    line-height: 24px;
}